
h1 {
  font-size: 24px;
  font-weight: bold;
}

.errorMessage, .empty-articleList {
  font-size: 20px;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item .page-link {
  background-color: #cfcfd1;
  color: black; 
  padding: 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
}

.pagination .page-item.active .page-link:focus {
  background-color: #454546; 
  color: white;
  box-shadow: 0 0 0 4px #aeaeae;
}

@media (max-width: 997px) {

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .col-md-3 {
    width: 50%;
  }

}

@media screen and (max-width: 420px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .col-md-3 {
    width: 100%;
  }
}