.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #444;
}

.header-center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.header-right-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
  }

  .header-left,
  .header-center,
  .header-right {
    flex: 1;
    text-align: center;

  }


  
  .header-left {
      flex-basis: 20%; 
    }
    .header-center{
       flex-basis: 60%; 
       justify-content: right;
     
    }
    .header-right {
      flex-basis: 20%;
      justify-content: center; 
    }
  
  
}


