.navbar {
  background-color: #f8f9fa;
}

.nav-link {
  color: #000;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-color: #f8f9fa;
  border: 2px solid #000;
  border-radius: 5px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  padding-right: 15px;
}

@media (max-width: 767px) {
  .navbar-nav {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    margin-top: 10px;
  }
}
