.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  margin-right: 20px;
  
}

.date-filter {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.popularity-filter {
  flex-basis: 100%;
  margin-bottom: 20px;
  border-radius: 6px;
}

.popularity-filter-options {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

.reset-filter {
  text-align: right;
  flex-basis: 100%;
}

.reset-filter button {
  background-color: #888;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-filter button:hover {
  background-color: #444;
}

@media (max-width: 767px) {
  .filter-container {
    width: 100%;
  }

  .popularity-filter-options {
    font-size: 14px;
  }

  .date-filter {
    flex-basis: 40%; 
    margin-bottom: 10px;
    padding: 5px;

  }
  .popularity-filter {
     flex-basis: 35%; 
    margin-bottom: 10px;
    padding: 5px;
  }
  .reset-filter {
    margin-top: 25px;
    flex-basis: 10%; 
    padding: 5px;
  }
} 

@media (max-width: 360px) {
  
  .date-filter {
    flex-basis: 100%; 
    margin-bottom: 10px;

  }
  .popularity-filter {
     flex-basis: 100%; 
    margin-bottom: 10px;
  }
  .reset-filter {
    margin-top: 25px;
    flex-basis: 100%; 
  }
} 






