.logo-container {
  display: flex; 

}

.logo {
  width: 150px;
  height: auto;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 768px) {
  .logo {
    width: 100px;
    padding: 2px;
  }
}
