.news-app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "article-list"
    "footer";
  min-height: 100vh;
}

.news-app-header {
  grid-area: header;
}


.news-app-footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .news-app-container {
    grid-template-areas:
      "header"
      "filter"
      "article-list";
  }
}
